.items-outer {
    margin-left: 15%;
    width: 62%;
    padding: 15px 25px;
    background: #eef2f6;
    height: 100%;
}

.items-outer .category-name {
    font-size: 28px;
    margin-bottom: 15px;
    font-style: oblique;
    font-weight: 500;

}

.items-outer .category-name span {
    padding-bottom: 5px;
    border-bottom: 2px dashed #5e35b1;
    text-transform: lowercase;
}

.items-outer .item-inner {
    padding: 0 10px;
    position: relative;
}

.items-outer .item-inner .verify {
    position: absolute;
    top: 25px;
    left: 20px;
    width: 28px;
    border-radius: 100%;
}

.items-outer .item-inner .item {
    display: flex;
    background: #fff;
    padding: 12px;
    border-radius: 10px;
    justify-content: space-between;
    margin: 15px 0;
    height: 200px;
}

.items-outer .item-inner .item:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

.items-outer .item-inner .item .about-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.items-outer .item-inner .item .about-item .name {
    padding: 15px 0px;
}

.items-outer .item-inner .item .image {
    width: 40%;
    display: flex;
    align-items: center;
}

.items-outer .item-inner .item .image img {
    width: 100%;
    height: 150px;
}


.items-outer .item-inner .item .about-item h5 {
    font-size: 18px;
    font-weight: 600;
    color: #5e35b1;
    cursor: pointer;
}

.items-outer .item-inner .item .about-item .price {
    font-size: 15px;
}


/* MODAL */
.order-type .title {
    padding-bottom: 20px;
    font-size: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    font-weight: 600;
}

.order-type .service,
.Attention .service {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.order-type .service button,
.Attention .service button {
    width: 120px;
    margin: 0 10px;
    padding: 10px;
    background: #4e35b1;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 6px;
}

/* Attention Modal */
.Attention .title {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.Attention p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
}


/* PRODUCT DETAILS CSS */
/* .product-details-outer {
    padding: 30px 0px;
} */

.product-details-outer .product-detail-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-details-outer .product-detail-inner .about-product {
    width: 75%;
}

.product-details-outer .product-detail-inner .product-img {
    width: 25%;
}

.product-details-outer .pname {
    font-size: 20px;
    font-weight: 600;
    color: #4e35b1;
    margin-bottom: 10px;
    padding: 0 12px;
}

.product-details-outer .ptype {
    padding: 0 12px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

.product-details-outer .note-outer {
    display: block;
    margin: 15px 0;
    padding: 0 12px;
}

.product-details-outer .note-outer span {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.product-details-outer .note-outer .note {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    border: 1px solid #cdcdcd;
    padding: 5px;
}

.product-details-outer .qty-inc-dec {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.product-details-outer .qty-inc-dec div {
    background: #4e35b1;
    color: #fff;
    font-size: 25px;
    width: 45px;
    height: 45px;
    margin: 0 12px;
    border-radius: 10px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.product-details-outer .qty-inc-dec input {
    width: 70px;
    border-radius: 10px;
    border: 1px solid #595959;
    text-align: center;
}

.product-details-outer .model-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-details-outer .model-footer .cancle {
    background: #fff;
    color: #4e35b1;
    border: 1px solid #4e35b1;
    padding: 8px;
}

.product-details-outer .model-footer button,
.product-details-outer .model-footer div {
    width: 110px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    text-align: center;
    color: #eef2f6;
    background-color: #4e35b1;
    cursor: pointer;
    font-size: 14px;
}

@media (max-width:1399px) {
    .items-outer .item-inner .item .image {
        width: 70%;
    }
}

@media(max-width:1200px) {
    .items-outer {
        width: 100%;
        margin-left: 0;
    }

    .items-outer .item-inner .item .image {
        width: 32%;
        height: 140px;
    }
}

@media (max-width:991px) {
    .items-outer .item-inner .item .image {
        width: 55%;
        height: 130px;
    }

    .items-outer .item-inner .item .image img {
        height: 130px;
    }
}

@media (max-width:769px) {
    .items-outer .item-inner .item .image {
        width: 25%;
        height: 160px;
    }

    .items-outer .item-inner .item .image img {
        height: 160px;
    }
}

@media (max-width:676px) {
    .items-outer .item-inner .item .image {
        width: 35%;
        height: 160px;
    }

    .items-outer .item-inner .item .image img {
        height: 160px;
    }
}

@media (max-width:569px) {
    .items-outer .item-inner .item .image {
        width: 40%;
        height: 150px;
    }

    .items-outer .item-inner .item .image img {
        height: 150px;
    }
}

@media (max-width:479px) {
    .items-outer .item-inner .item {
        height: 265px;
    }

    .items-outer .item-inner .item .about-item .name h5 {
        font-size: 14px !important;
    }

    .items-outer .item-inner .item .about-item .name h6 {
        font-size: 12px !important;
    }

    .items-outer .item-inner .item .image {
        width: 60%;
        height: 120px;
    }

    .items-outer .item-inner .item .image img {
        height: 120px;
    }

    .product-details-outer .model-footer button {
        padding: 12px 0px;
        font-weight: 600;
        margin: 0 5px;
        font-size: 11px;
    }
}




/* CUSTOMIZE CSS */
.customize-outer {
    padding: 20px 0;
}

.customize-outer .customize-inner {
    display: flex;
    border-bottom: 1px solid #cdcdcd;
    align-items: center;
}

.customize-outer .customize-inner .links {
    padding: 10px 15px;
    cursor: pointer;
}

.customize-outer .customize-inner .links:hover {
    color: #5e35b1;
    border-bottom: 1px solid #4e35b1;
}

.customize-outer .chackbox-seletion {
    padding: 20px 0;
}

.customize-outer .chackbox-seletion .checkbox-inner {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.customize-outer .chackbox-seletion .checkbox-inner .form-checkbox {
    margin-right: 10px;
}

.customize-outer .customize-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.customize-outer .customize-btn button {
    background: #4e35b1;
    color: #fff;
    width: 130px;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
}

@media(max-width:479px) {
    .customize-outer .customize-inner .links {
        padding: 8px !important;
    }

    .customize-outer .customize-btn button {
        width: 120px;
        font-size: 14px;
        padding: 10px 2px;
    }
}



/* SALAD */
.salad button {
    width: 100px;
    padding: 7px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
}